body{
    background: url("./img/fon1.jpeg");
    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
}

.block{
    position: absolute;
    padding: 35px 15px;
    max-width: 640px;
    max-height: 264px;
    left: 400px;
    top: 344px;
    background: white;
    border-radius: 10px;
}

h3{
    align-items: center;
}

p{
    align-items: center;
}

