
body{
    background: url("./img/fon1.jpeg");
    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
}

.block{
    position: absolute;
    width: 640px;
    height: 264px;
    left: 350px;
    top: 200px;

    background: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    }

h3{
    text-align: center;}

.row mt-3{
    justify-content: center;

}
button{
    position: absolute;
    width: 250px;
    height: 40px;
    left: 200px;
    top: 150px;
    color: white;
    background: #232529;
    border-radius: 10px;

}
